<a href="https://colab.research.google.com/github/urenajose/DS-Unit-2-Regression-1/blob/master/Jose_Urena_LS_DS_214_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [2]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [3]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [4]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [5]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [6]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [7]:
print(df.shape)

(421, 59)

In [8]:
display(df.head(),df.tail())

      Burrito       Date  Yelp  Google Chips  ...  Sushi  Avocado  Corn  Zucchini  Great
0  California  1/18/2016   3.5     4.2   NaN  ...    NaN      NaN   NaN       NaN  False
1  California  1/24/2016   3.5     3.3   NaN  ...    NaN      NaN   NaN       NaN  False
2    Carnitas  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
3       Asada  1/24/2016   NaN     NaN   NaN  ...    NaN      NaN   NaN       NaN  False
4  California  1/27/2016   4.0     3.8     x  ...    NaN      NaN   NaN       NaN   True

[5 rows x 59 columns]

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
418       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
419       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
420  California  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN  False
421       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True
422       Other  8/27/2019   NaN     NaN  ...     NaN   NaN       NaN   True

[5 rows x 59 columns]

###df info

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Burrito         421 non-null    object
 1   Date            421 non-null    object
 2   Yelp            87 non-null     float64
 3   Google          87 non-null     float64
 4   Chips           26 non-null     object
 5   Cost            414 non-null    float64
 6   Hunger          418 non-null    float64
 7   Mass (g)        22 non-null     float64
 8   Density (g/mL)  22 non-null     float64
 9   Length          283 non-null    float64
 10  Circum          281 non-null    float64
 11  Volume          281 non-null    float64
 12  Tortilla        421 non-null    float64
 13  Temp            401 non-null    float64
 14  Meat            407 non-null    float64
 15  Fillings        418 non-null    float64
 16  Meat:filling    412 non-null    float64
 17  Uniformity      419 non-null    float64
 18  Salsa           396 non-null    float64
 19  Synergy         419 non-null    float64
 20  Wrap            418 non-null    float64
 21  Unreliable      33 non-null     object
 22  NonSD           7 non-null      object
 23  Beef            179 non-null    object
 24  Pico            158 non-null    object
 25  Guac            154 non-null    object
 26  Cheese          159 non-null    object
 27  Fries           127 non-null    object
 28  Sour cream      92 non-null     object
 29  Pork            51 non-null     object
 30  Chicken         21 non-null     object
 31  Shrimp          21 non-null     object
 32  Fish            6 non-null      object
 33  Rice            36 non-null     object
 34  Beans           35 non-null     object
 35  Lettuce         11 non-null     object
 36  Tomato          7 non-null      object
 37  Bell peper      7 non-null      object
 38  Carrots         1 non-null      object
 39  Cabbage         8 non-null      object
 40  Sauce           38 non-null     object
 41  Salsa.1         7 non-null      object
 42  Cilantro        15 non-null     object
 43  Onion           17 non-null     object
 44  Taquito         4 non-null      object
 45  Pineapple       7 non-null      object
 46  Ham             2 non-null      object
 47  Chile relleno   4 non-null      object
 48  Nopales         4 non-null      object
 49  Lobster         1 non-null      object
 50  Queso           0 non-null      float64
 51  Egg             5 non-null      object
 52  Mushroom        3 non-null      object
 53  Bacon           3 non-null      object
 54  Sushi           2 non-null      object
 55  Avocado         13 non-null     object
 56  Corn            3 non-null      object
 57  Zucchini        1 non-null      object
 58  Great           421 non-null    bool
dtypes: bool(1), float64(19), object(39)
memory usage: 194.5+ KB

##nulls

In [10]:
 df_null = pd.DataFrame(df.isnull().sum())
 df_null.head(3)

           0
Burrito    0
Date       0
Yelp     334

In [11]:
df_low_nulls = df_null[(df_null[0] < (421*.3))].index.values

In [12]:
df_new = df[df_low_nulls]
df_new

        Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0    California  1/18/2016  6.49     3.0  ...    4.0      4.0   4.0  False
1    California  1/24/2016  5.45     3.5  ...    3.5      2.5   5.0  False
2      Carnitas  1/24/2016  4.85     1.5  ...    3.0      3.0   5.0  False
3         Asada  1/24/2016  5.25     2.0  ...    4.0      4.0   5.0  False
4    California  1/27/2016  6.59     4.0  ...    2.5      4.5   4.0   True
..          ...        ...   ...     ...  ...    ...      ...   ...    ...
418       Other  8/27/2019  6.00     1.0  ...    2.0      2.0   5.0  False
419       Other  8/27/2019  6.00     4.0  ...    5.0      4.0   3.0   True
420  California  8/27/2019  7.90     3.0  ...    3.5      4.0   4.5  False
421       Other  8/27/2019  7.90     3.0  ...    5.0      5.0   2.0   True
422       Other  8/27/2019  5.50     3.5  ...    3.0      4.5   4.0   True

[421 rows x 14 columns]

In [13]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 422
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Burrito       421 non-null    object
 1   Date          421 non-null    object
 2   Cost          414 non-null    float64
 3   Hunger        418 non-null    float64
 4   Tortilla      421 non-null    float64
 5   Temp          401 non-null    float64
 6   Meat          407 non-null    float64
 7   Fillings      418 non-null    float64
 8   Meat:filling  412 non-null    float64
 9   Uniformity    419 non-null    float64
 10  Salsa         396 non-null    float64
 11  Synergy       419 non-null    float64
 12  Wrap          418 non-null    float64
 13  Great         421 non-null    bool
dtypes: bool(1), float64(11), object(2)
memory usage: 46.5+ KB

In [14]:
df_new["Burrito"].value_counts()

California     169
Other          156
Asada           43
Surf & Turf     28
Carnitas        25
Name: Burrito, dtype: int64

In [15]:
df_new["Great"] = df['Great'].replace([False,True],[0,1])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df_new.head()

      Burrito       Date  Cost  Hunger  ...  Salsa  Synergy  Wrap  Great
0  California  1/18/2016  6.49     3.0  ...    4.0      4.0   4.0      0
1  California  1/24/2016  5.45     3.5  ...    3.5      2.5   5.0      0
2    Carnitas  1/24/2016  4.85     1.5  ...    3.0      3.0   5.0      0
3       Asada  1/24/2016  5.25     2.0  ...    4.0      4.0   5.0      0
4  California  1/27/2016  6.59     4.0  ...    2.5      4.5   4.0      1

[5 rows x 14 columns]

In [17]:
import datetime as dt

In [18]:
df_new['Date'] = df_new['Date'].astype('datetime64[ns]')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_new['Year'] = df_new['Date'].dt.year

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
# df_new1 = df_new.drop(["Date","Year"])

In [21]:
df_train = df_new[(df_new['Year'] == 2016)]
df_validate = df_new[(df_new['Year'] == 2017)]
df_test = df_new[(df_new['Year'] >= 2018 )]

In [22]:
import category_encoders as ce
encoder = ce.OneHotEncoder(use_cat_names=True)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [23]:
print(f'''Base line for Train Great \n{df_train["Great"].value_counts(normalize=True)} \n'''
f'''Base line for validate Great \n{df_validate["Great"].value_counts(normalize=True)} \n''' 
f'''Base line for test Great \n{df_test["Great"].value_counts(normalize=True)}''')

Base line for Train Great
0    0.591216
1    0.408784
Name: Great, dtype: float64
Base line for validate Great
0    0.552941
1    0.447059
Name: Great, dtype: float64
Base line for test Great
1    0.578947
0    0.421053
Name: Great, dtype: float64

In [24]:

x_train = encoder.fit_transform(df_train)

In [25]:
x_validate = encoder.transform(df_validate)

In [26]:
x_test = encoder.transform(df_test)

In [27]:
train_target = 'Great'
y_train = x_train[train_target]

In [28]:
x_train.head()

   Burrito_California  Burrito_Carnitas  Burrito_Asada  ...  Wrap  Great  Year
0                   1                 0              0  ...   4.0      0  2016
1                   1                 0              0  ...   5.0      0  2016
2                   0                 1              0  ...   5.0      0  2016
3                   0                 0              1  ...   5.0      0  2016
4                   1                 0              0  ...   4.0      1  2016

[5 rows x 19 columns]

In [29]:
print(x_train['Date'].isnull().sum())
print(x_train['Year'].isnull().sum())

0
0

##Droping the Date, Target, Year.

In [35]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
x_train_imputed = imputer.fit_transform(x_train.drop(['Date','Great','Year'],axis=1))

In [36]:
x_validate_imputed = imputer.transform(x_validate.drop(['Date','Great','Year'],axis=1))

In [37]:
x_test_imputed = imputer.transform(x_validate.drop(['Date','Great','Year'],axis=1))

In [38]:
from sklearn.preprocessing import StandardScaler
burrito_scaler = StandardScaler()

In [39]:
from sklearn.linear_model import LogisticRegressionCV
burrito_model = LogisticRegressionCV()

In [ ]:
x_train_scaled